body {
	font-family: sans-serif;
	text-align: center;
	background-color: #111;
	color: #fff;
	padding: 20px;
}

input, select, button {
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

#resultImage {
	max-width: 300px;
	margin-top: 20px;
	border: 2px solid #fff;
	border-radius: 10px;
}
